body{
    margin: 0;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: rgb(255, 192, 203);
}

.slider-container{
    position: relative;
    width: 25rem;
    height:12.5rem;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 1px 5px 8px rgb(189, 11, 70);
}

.img-container{
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: beige;
    font-size: 20px ;
    opacity: 60%;
    cursor: pointer;
}

.btn:hover{
    opacity: 1;
}

.btn.prev{
    left: 10px;
}

.btn.next{
    right: 10px;
}

